body{
	color:#000000;
}

a{color: #525252;}
a:hover,a:focus,a:active{color: #000000;}

.error {
	color: #F44336;
}

hr{
	border-top: 1px solid #000000;	
}

/*******************************************
Bootstrap Overrides
*******************************************/
.btn-success{
	border-color: #000000;
    background-color: #000000;
    color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
	background-color: #000000;
	border-color: #000000;
	color:#ffffff;
}
.btn-success.active,
.btn-success:active,
.open>.dropdown-toggle.btn-success {
	background-color: #000000;
	border-color: #000000;
	color:#ffffff;
}
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.dropdown-toggle.btn-success.focus,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-success:hover {
	background-color: #000000;
	border-color: #000000;
	color:#ffffff;
}

.btn-default {
    background-color: #ffffff;
    border-color: #000000;
    color: #000000;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}
.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}

.btn-danger {
    color: #fff;
    background-color: #F44336;
    border-color: #F44336;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
	color: #fff;
	background-color: #e0392c;
	border-color: #e0392c;
}
.btn-danger.active,
.btn-danger:active,
.open>.dropdown-toggle.btn-danger {
	color: #fff;
	background-color: #e0392c;
	border-color: #e0392c;
}
.btn-danger.active.focus,
.btn-danger.active:focus,
.btn-danger.active:hover,
.btn-danger:active.focus,
.btn-danger:active:focus,
.btn-danger:active:hover,
.open>.dropdown-toggle.btn-danger.focus,
.open>.dropdown-toggle.btn-danger:focus,
.open>.dropdown-toggle.btn-danger:hover {
	color: #fff;
	background-color: #e0392c;
	border-color: #e0392c;
}

.panel-default {
    border-color: #000000;
}
.panel-default>.panel-heading{
	background-color:#000000;
	color:#ffffff;
	border-color:#000000;
}

.panel-default>.panel-heading .btn{
	border-color:#FFFFFF;
}

.form-control {
	border-color:#000000;
	color:#000000;
}
.form-control:focus {
	border-color: #000000;
}

.table-bordered>tbody>tr>td, 
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>thead>tr>th {
    border: 1px solid #dddddd;
}

.alert-danger {
    color: #ffffff;
    background-color: #ff5144;
    border-color: #F44336;
}
.alert-success{
	color: #ffffff;
    background-color: #54d059;
    border-color: #48b94c;	
}
.alert-info {
	color: #000000;
    background-color: #e8e8e8;
    border-color: #e4e4e4;
}
.alert-warning {
	color: #ffffff;
    background-color: #ff9800;
    border-color: #ec8e02;
}

.modal{
	color:#000000;
}
.modal .modal-content{
    border-color: #000000;
}
.modal .modal-header{
	border-color: #000000;
    background-color: #000000;
    color: #ffffff;
}
.modal-header .close {
    background-color: #fff;
    color: #000000;
    border-color: #000000;
}

.well {
	border-color: #dddddd;
    background-color: #f1f1f1;
}
.well a{
	color: #000000;
}

/*********************************************
Review Stars Display
*********************************************/
.review-stars-display .star{
	background-color: #000000;
    color: #ffffff;
}
.review-stars-display .star.half-rate{
	background-color: #000000;
    color: #ffffff;	
}
.review-stars-display .star.empty-rate{
    background-color: #e0e0e0;
    color: #adadad;	
}

/**********************************************
Header
********************************************/
.page-head {
	background-color: #000000;
}

.page-head-bar {
    background-color: #ffffff;
    border-color: #ffffff;
}
.page-head-bar .parent-link {
	border-color: #000000;
    background-color: #000000;
    color: #ffffff;
}
.page-head-bar .parent-link:hover,
.page-head-bar .parent-link:focus{
	border-color: #000000;
    background-color: #ffffff;
    color: #000000;
}
.page-head-bar .page-head-bar-links .dropdown .dropdown-menu{
	border-color: #000000;
    box-shadow: 1px 1px 2px #4a4a4a;
}
.page-head-bar .page-head-bar-links .dropdown .dropdown-menu li a {
    color: #000000;
}
.page-head-bar .page-head-bar-links .dropdown .dropdown-menu li a:hover,
.page-head-bar .page-head-bar-links .dropdown .dropdown-menu li a:focus{
    background-color: #000000;
    color: #ffffff;
}

.page-header-sec .btn-default:hover,
.page-header-sec .btn-default:focus{
	border-color:#FFFFFF;
}

/*******************************************
Page Head Social Icons
******************************************/
.page-head-bar .social-links a{
	border-color: #000000;
    background-color: #ffffff;
    color: #000000;
}
.page-head-bar .social-links a:hover,
.page-head-bar .social-links a:focus{    
	border-color: #000000;
    background-color: #000000;
    color: #ffffff;
}

/**************************************
Page Header
*************************************/
@media (max-width: 767px){
	.main-logo-container{
		border-color: #ffffff;
	}
}

/********************************
Main Links (Avd Search, Gift Cards, Sale)
*******************************/
.main-links li a{
    color: #ffffff;
}

/**********************************
Basket Buton
**********************************/
.basket-widget{
	background-color: #ffffff;
    border-color: #ffffff;
    color: #000000;
}
.basket-widget:hover,
.basket-widget:focus{
	background-color: #000000;
    border-color: #ffffff;
    color: #ffffff;	
}

/***********************************
  Main Site Nav
***********************************/
.cat-nav-head{
	background-color: #000000;
    color: #ffffff;
    border-color: #ffffff;
}
@media (max-width: 991px) {
	.navbar-collapse.collapse {
		border-color: #000000;
	}
}
.site-navbar .navbar-nav.main-cats {
	background-color: #ffffff;
}

.site-navbar .navbar-nav.main-cats>li{
	border-color: #000000;
}
.site-navbar .navbar-nav.main-cats>li>a {
    color: #000000;
    background-color: #ffffff;
}
.site-navbar .navbar-nav.main-cats>li>a:focus, 
.site-navbar .navbar-nav.main-cats>li>a:hover,
.site-navbar .navbar-nav.main-cats>.open>a,
.site-navbar .navbar-nav.main-cats>.open>a:focus,
.site-navbar .navbar-nav.main-cats>.open>a:hover {
	color: #ffffff;
    background-color: #000000;
}

.site-navbar .navbar-nav.main-cats .dropdown-submenu .dropdown-menu {
    border-color: #000000;
    background-color: #000000;
	background-clip:unset;
}
.site-navbar .navbar-nav.main-cats .dropdown-submenu .dropdown-menu li {
    border-color: #ffffff;
}
.site-navbar .navbar-nav.main-cats .dropdown-submenu .dropdown-menu li a {
	color: #ffffff;
}
.site-navbar .navbar-nav.main-cats .dropdown-submenu .dropdown-menu li a:hover,
.site-navbar .navbar-nav.main-cats .dropdown-submenu .dropdown-menu li a:focus{
	background-color:#ffffff;
	color:#000000;
}

.site-navbar .navbar-toggle {
	background-color: #000000;
    color: #ffffff;
}
.site-navbar .navbar-toggle:hover,
.site-navbar .navbar-toggle:focus {
	background-color: #000000;
    border-color: #ffffff;
    color: #ffffff;
}

@media (max-width: 991px){
	.site-navigation-container{
		background-color:#ffffff;
	}
	.site-navbar{
		background-color: #ffffff;
	}
	.site-navbar .navbar-nav.main-cats .dropdown-submenu .dropdown-menu {
		background-color: #000000;
	}
}

/***************************************
Basket
***************************************/
.shopping-cart .shopping-cart-sum{
	border-color:#ddd;
}
.shopping-cart .shopping-cart-items li {
	border-color: #ddd;
}
.shopping-cart .shopping-cart-items .item-name a{
	color:#000;
}
.shopping-cart .shopping-cart-items .item-price {
	color: #000000;
}
.shopping-cart .shopping-cart-items .item-quantity {
	color: #525252;
}
.shopping-cart .badge{
    background-color: #ddd;
    border-color: #ddd;
	color:#525252;
}
.basket-box .basket-empty{
    color: #5a5a5a;
}

/******************************************
Account Nav
******************************************/
.account-nav .parent-link{
	background-color: #ffffff;
    border-color: #ffffff;
    color: #000000;
}
.account-nav .parent-link:hover,.account-nav .parent-link:focus{
	background-color: #000000;
    border-color: #ffffff;
    color: #ffffff;	
}
.account-nav ul.dropdown-menu{
	background-color: #ffffff;
    border-color: #000000;
}
.account-nav ul.dropdown-menu .divider {
	background-color: #000000;
}
.account-nav li a {
	background-color: #ffffff;
	color:#000000;
}
.account-nav ul.dropdown-menu a:hover,
.account-nav ul.dropdown-menu a:focus{
	background-color: #000000;
	color:#ffffff;
}

.account-nav ul.dropdown-menu.login-menu a{
	border-color: #000000;
    background-color: #000000;
    color: #ffffff;
}
.account-nav ul.dropdown-menu.login-menu a.reg-link{
    border-color: #000000;
    background-color: #000000;
    color: #ffffff;
}
.account-nav ul.dropdown-menu.login-menu span.act-or{
    border-color: #000000;
    color: #000000;
}

/*************************************
Search Bar
*************************************/
.searchTog{
	background-color: #ffffff;
    border-color: #ffffff;
    color: #000000;
}
.searchTog:hover,.searchTog:focus{
	background-color: #000000;
    border-color: #ffffff;
    color: #ffffff;	
}
#collapseSearch .btn {
	border-color: #000000;
}

/****************************************
 Breadcrumb 
*****************************************/
.breadcrumb a {
	color:#000000;
}

.breadcrumb li a:before {
	border-left-color: #000000;
}
.breadcrumb li a:after {
	border-left-color: #f5f5f5;
}

.panel-product-boxes>.panel-heading {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}

/*****************************************
title
*****************************************/
.content-title{
	background-color: #000000;
    color: #ffffff;
}
.content-title a {
	color:#ffffff;
}

/*******************************
Default Product Box 
*******************************/
.product-box .product-wrap {
	border-color: #e6e6e6;
    box-shadow: 1px 2px 4px 1px #ddd;
}
.product-box .product-name a{
    background-color: #ffffff;
    color: #525252;
}
.product-box .product-name a:hover,
.product-box .product-name a:focus{
	color:#000000;
}
.product-box .product-price .current-price{
	color: #525252;
}
.product-box .product-price .old-price{
	color:#F44336;
}

/***************************************
Featured Box
***************************************/
#box-featured.panel{
	border-color: #000000;
    background-color: #ffffff;
}
#box-featured.panel .panel-heading{
	background-color: #000000;
    color: #ffffff;
    border-color: #000000;
}
#box-featured .product-box .photo-wrap {
	background-color: #ffffff;
}
#box-featured .product-box .product-name a {
    color: #000000;
}
#box-featured .product-box .product-name a:hover,
#box-featured .product-box .product-name a:focus {
    color: #000000;
}

#box-popular .product-box .product-wrap {
    border-color: #e6e6e6;
}

/***************************************
	ProductBox List - boxes
***************************************/
.productbox-list li.list-group-item {
	background-color: #ffffff;
	border-color: #000000;
}
.productbox-list .product-price .current-price{
	color: #000000;
}
.productbox-list .product-price .old-price{
	color: #F44336;
}

/************************************
	Product :: Product Code
***********************************/
.product-code {
    color: #7d7d7d;
}

.product-short-desc a#scrollToDesc{
    color: #000000;
}

/************************************
	Product :: Product Options
***********************************/
.product-options{
    background-color: #ffffff;
    color: #000000;
}
.product-options .product-options-sec{
	border-color: #dddddd;
}
.product-options .option-title{
    border-color: #525252;
    color: #000000;
}
.product-options .option-cost{
    color: #000000;
}
.product-price-box{
    color: #ffffff;
    background-color: #000000;
}
.product-price-box .price-group .old_price {
	color: #f44336;
}
.product-price-box .price-group .sale_price {
	color: #ffffff;
}

/*************************************
Product :: Review score 
*************************************/
.product-reviews-block{
	border-color: #dddddd;
}
.product-reviews-block a{
	color:#000000;
}

/********************************************
Product :: Product Tabs
********************************************/
#product_tabs .nav-tabs {
	background-color: #f5f5f5;
}
#product_tabs .nav-tabs>li>a {
	color: #000000;
}
#product_tabs .nav-tabs>li>a:hover,
#product_tabs .nav-tabs>li>a:focus {
    background-color:#dddddd;
    color: #000000;
}
#product_tabs .nav-tabs>li.active>a,
#product_tabs .nav-tabs>li.active>a:focus,
#product_tabs .nav-tabs>li.active>a:hover {
    background-color: #000000;
    color: #ffffff;
}

/******************************************
Product :: tabs panel group
*****************************************/
.product_tabs_panel_group .panel-default>.panel-heading {
    background-color: #000000;
    color: #ffffff;
}
.product_tabs_panel_group .panel-default>.panel-heading a{
    background-color: #000000;
    color: #ffffff;
}
.product_tabs_panel_group .panel-default>.panel-heading a:hover,
.product_tabs_panel_group .panel-default>.panel-heading a:focus{
    background-color: #000000;
    color: #ffffff;
}
.product_tabs_panel_group .panel-default>.panel-heading a.collapsed{
    background-color: #dddddd;
    color: #000000;
}
.product_tabs_panel_group .panel-default>.panel-heading a.collapsed:hover,
.product_tabs_panel_group .panel-default>.panel-heading a.collapsed:focus{
    background-color:#000000;
    color: #ffffff;
}

/**************************************
Product :: Reviews
***********************************/
.panel-reviews .panel-heading{
	background-color: #000000;
    color: #ffffff;
}
.panel-reviews .review-panel {
	background-color: #ffffff;
    border-color: #dddddd;
    color: #000000;
}
.panel-reviews .review-panel .panel-heading{
	background-color: #ffffff;
    color: #000000;
}
.panel-reviews .review-panel .review-content{
	color: #000000;
}
.panel-reviews .review-panel .panel-footer{
    background-color: #ffffff;
    color: #000000;
}

div.star-rating-on a {
    color: #ffffff;
    background-color: #000000;
}
div.star-rating-hover a {
    color: #ffffff;
    background-color: #000000;
}

/***********************************
Pagination
***********************************/
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
	color: #b5b5b5;
    background-color: #f1f1f1;
    border-color: #c1c1c1;
}
.pagination>li>a,
.pagination>li>span {
	color: #000000;
    border-color: #000000;
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}

/***********************************
Account Page
**********************************/
.account-menu-blocks li a {
    color: #000000;
    background-color: #ffffff;
    border-color: #dddddd;
    box-shadow: 1px 1px 3px 1px #cccccc;
}
.account-menu-blocks li a:hover,
.account-menu-blocks li a:focus{
	color: #000000;
}
.account-menu-blocks li .menu-icon{
    border-color: #f5f5f5;
}

/*************************************
Addressbook
*************************************/
.addressbook-panel {
	border-color: #dddddd;
}
.addressbook-panel .panel-heading {
	border-color: #dddddd;
}
.addressbook-panel .panel-footer{
	background-color: #fff;
}
.addressbook-panel .panel-footer{
	border-color:#dddddd;
}
.addressbook-panel .address-badges .badge{
    border-color: #dddddd;
    color: #000000;
    background-color: #dddddd;
}
.addressbook-panel .address-badges .badge i {
	background-color: #000000;
    color: #ffffff;
}

/**********************************************
categories
***********************************************/
.cat-desc {
    color: #000000;
    background-color: #f1f1f1;
}

.cat-filter .dropdown-menu{
    border-color: #000000;
}
.cat-filter .dropdown-menu li{
	border-color: #000000;
}
.cat-filter .dropdown-menu li a{
	color:#000000;
}
.cat-filter .dropdown-menu li a:hover,
.cat-filter .dropdown-menu li a:focus{
	color:#ffffff;
	background-color:#000000;
}

.sortingOpts .dropdown-menu{
    border-color: #000000;
}

/**********************************
Sub Cat List 
***********************************/
.subCatList,.subCatList li {
    border-color: #000000;
}
.subCatList li a:hover,
.subCatList li a:focus{
	background-color:#f5f5f5;
	color:#000000;
}

.altern-cats a:hover,.altern-cats a:focus{
	background-color: #f9f9f9;
	color:#000000;
}

/********************************************
Cat Filter
********************************************/
.cat-filter .dropdown-menu{
	border-color:#000000;
}
.cat-filter .dropdown-menu li{
	border-color: #ffffff;
}
.cat-filter .dropdown-menu li:last-child{
	border-color: #ffffff;
}
.cat-filter .dropdown-menu li a{
	background-color: #000000;
	color:#ffffff;
}
.cat-filter .dropdown-menu li a:hover,
.cat-filter .dropdown-menu li a:focus,
.cat-filter .dropdown-menu li a:active{
	color:#000000;
	background-color:#ffffff;
}
.cat-filter .dropdown-menu li a .badge{
	background-color: #FFFFFF;
    color: #000000;
}
.cat-filter .dropdown-menu li a:hover .badge,
.cat-filter .dropdown-menu li a:focus .badge,
.cat-filter .dropdown-menu li a:active .badge{
	color:#ffffff;
	background-color:#000000;
}

/************************************
Default product list layout - list view
************************************/
.product_list .product_availability {
	color: #fff;
	background-color: #F44336;
}
.product_list li.product_list_item .product_list_item_wrapper {
	border-color: #dddddd;	
}
.product_list li.product_list_item .pr_name a{
	 color: #000000;
}
.product_list li.product_list_item .pr_name a:hover,
.product_list li.product_list_item .pr_name a:focus{
	 color:#000000;
}
.product_list li.product_list_item .product_pricing span {
	color: #000000;
}
.product_list li.product_list_item .product_pricing span.old_price{
	color: #F44336;
}
.product_list li.product_list_item .product_pricing span.product_availability {
	color: #f44336;
	border-color: #f44336;	
}

/***********************************
Product list - grid view 
***********************************/
.product_list.grid_view .prd_toggle{
    background-color: #ffffff;
	color: #000000;
    border-color: #000000;
}
.product_list.grid_view .prd_toggle:hover,
.product_list.grid_view .prd_toggle:focus{
    background-color: #000000;
    color: #ffffff;	
	border-color:#000000;
	text-decoration:none;
}
.product_list.grid_view li.product_list_item .pr_description_ab{
    background-color: #737373;
    color: #ffffff;
}
.product_list.grid_view li.product_list_item .product_list_item_wrapper {
	border-color: #dddddd;
    box-shadow: 1px 1px 2px 0px #cecece;
}
.product_list.grid_view li.product_list_item .pr_name a{
    background-color: #ffffff;
    color: #525252;
}

/*********************************************
Order Receipt
*********************************************/
.order-receipt-content .order_status_block .status_text {
	color: #4a4a4a;
}
.order-receipt-content .order_status_block.stat_1 .status {
	color: #a2a2a2;
}
.order-receipt-content .order_status_block.stat_2 .status {
	color:#FFC107;
}
.order-receipt-content .order_status_block.stat_3 .status {
	color: #cddc39;
}
.order-receipt-content .order_status_block.stat_4 .status,
.order-receipt-content .order_status_block.stat_5 .status,
.order-receipt-content .order_status_block.stat_6 .status {
	color:#F04124;
}

h3.order-summary{
	background-color: #000000;
    color: #ffffff;
}
h3.order-summary .print-inv-link{
    color: #525252;
    background-color: #FFFFFF;
}

.order-receipt-content .order-product-list .ri-item {
	border-color: #dddddd;
}
@media (max-width: 520px){
	.order-receipt-content .order-product-list .ri-item .ri-col-2{
		border-color: #dddddd;
	}
}
.order-receipt-content .table-bordered>tbody>tr>td,
.order-receipt-content .table-bordered>tbody>tr>th,
.order-receipt-content .table-bordered>tfoot>tr>td,
.order-receipt-content .table-bordered>tfoot>tr>th,
.order-receipt-content .table-bordered>thead>tr>td,
.order-receipt-content .table-bordered>thead>tr>th {
	border-color: #dddddd;
    background-color: #ffffff;
    color: #000000;
}
.order-receipt-content hr{
	border-color: #dddddd;
}
.order-receipt-content .table-bordered>tbody>tr.ri-total-row>td {
	border-color: #dddddd;
	background-color: #ffffff;
    color: #000000;
}
.order-receipt-content .table-bordered>tbody>tr.ri-discount-row{
	color: #F44336;
}

/***************************************
Downloads 
***************************************/
.downloads-list li.dwnld-item .dwnld-item-block{
    border-color: #dddddd;
    box-shadow: 1px 1px 2px #eaeaea;
}
.downloads-list li.dwnld-item .dwnld-item-block .dwnld-item-img{
	border-color: #dddddd;
}
.downloads-list li.dwnld-item .dwnld-item-block.deleted .dwnld-item-details li.dwnld-item-name span{
    background: #f3f3f3;
    background: rgba(210, 210, 210, 0.54);
    color: #2b2b2b;
}

/**************************************
Checkout - Basket
*************************************/
.checkout-header-btn {
	border-color: #ffffff;
    background-color: #ffffff;
    color: #000000;
}
.checkout-header-btn:hover,
.checkout-header-btn:focus{
	border-color:#ffffff;
	background-color: #000000;
    color: #ffffff;
	text-decoration:none;
}
.checkout-header-menu .dropdown-menu{
	border-color:#000000;
}
.checkout-header-menu .dropdown-menu li a{
	background-color: #ffffff;
    color: #000000;
}
.checkout-header-menu .dropdown-menu li a:hover,
.checkout-header-menu .dropdown-menu li a:focus{
	background-color: #000000;
	color:#ffffff;
}
.checkout-header-menu .dropdown-menu .divider {	
	background-color: #000000;
}

/************************************
Checkout Progress Bar
********************************** */
.checkout-progress-wrapper {
	background-color: #ffffff;
	color: #525252;
}
.checkout-progress-wrapper li a{
	color:#525252;
	background-color:#ffffff;
    border-color: #dddddd;
}
.checkout-progress-wrapper li a:hover,
.checkout-progress-wrapper li a:focus{
	color:#525252;
	background-color:#ffffff;
    border-color: #dddddd;	
}
.checkout-progress-wrapper li.current a,
.checkout-progress-wrapper li.current a:hover,
.checkout-progress-wrapper li.current a:focus{
	color: #ffffff;
    border-color: #000000;
    background-color: #000000;
}

/********************************************
Checkout items
*******************************************/
.checkout-item{
	border-color: #dddddd;
}
.checkout-item .item-quant #quant_display{
    border-color: #dddddd;
    background-color: #ffffff;
    color: #000000;
}

.checkout-item .item-remove a{
	color: #F44336;
}
@media (max-width: 520px){
	.checkout-item .ci-col-2{
		border-color: #dddddd;
	}
}
.table-bordered.basket-totals-table>tbody>tr>td,
.table-bordered.basket-totals-table>tbody>tr>th,
.table-bordered.basket-totals-table>tfoot>tr>td,
.table-bordered.basket-totals-table>tfoot>tr>th,
.table-bordered.basket-totals-table>thead>tr>td,
.table-bordered.basket-totals-table>thead>tr>th {
    border-color: #dddddd;
    background-color: #ffffff;
    color: #525252;
}
.table-bordered.basket-totals-table a{
	color: #525252;
}

.table-bordered.basket-totals-table tr.checkout-total-row>td {
    border-color: #000000;
    background-color: #000000;
    color: #ffffff;
}
.table-bordered.basket-totals-table tr.checkout-discount-row>td{
	color: #F44336;
}

.checkout-accepts {
    border-color: #909090;
    background-color: #ddd;
}
.checkout-accepts .list-group-item{
    background-color: #ddd;
	color:#000000;
}
.checkout-accepts .list-group-item a{
	color: #000000;
}

/***************************************
Order History
**************************************/
.order-panel {
	border-color: #dddddd;
    box-shadow: 0px 1px 2px 1px #e3e3e3;
}
.order-panel .panel-heading{
    background-color: #ffffff;
    color: #3e3e3e;
    border-color: #ddd;
}
.order-panel .panel-heading span.badge{
	background-color: #000000;
    color: #ffffff;
}
.order-panel .panel-footer{
	background-color: #fff;
	border-color: #dddddd;
}
.order-panel .order-options li a{
	background-color: #e0e0e0;
    color: #404040;
}
.order-panel .order-options li a:hover,
.order-panel .order-options li a:focus{
	background-color: #000000;
    color: #ffffff;
}

/**************************************************
Adv Search
**************************************************/
.search-manufacturers-grid li {
	border-color: #cccccc;
}

/******************************************
Login Page
******************************************/
.auth-tabs .nav-tabs {
	background-color: #ffffff;		
}
.auth-tabs .nav-tabs li a{
    border-color: #dddddd;
    background-color: #dddddd;
    color: #525252;
}
.auth-tabs .nav-tabs li a:focus,
.auth-tabs .nav-tabs li a:hover{
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
}
.auth-tabs .nav-tabs li.active a,
.auth-tabs .nav-tabs li.active a:focus,
.auth-tabs .nav-tabs li.active a:hover{
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
}

/*************************************
Error Block
*************************************/
.error_block p {
    color: #949494;
}

/*************************************
Footer
*************************************/
.page-footer {
	background-color: #000000;
}
.page-footer a {
	color:#ffffff;
}
.page-footer .panel{
	background-color: #000000;
    color: #ffffff;
}
.page-footer .panel-heading{
	color: #ffffff;
    border-color: #ffffff;
	background-color:#000000;
}
.page-footer .panel .list-group-item{
    background-color: #000000;
    border-color: #000000;
}

.element-social .panel .list-group{
	background-color:#000000;
}
.element-social .panel .list-group li.list-group-item a{
    background-color: #000000;
    color: #ffffff;
}

.footer-copyright {
	background-color: #ffffff;
    border-color: #ffffff;
	color: #000000;
}
.footer-copyright a{
	color:#000000;
}

/*****************************************
Chosen Select Overrides
*****************************************/
.chosen-container{
	display:block;
}
.chosen-container-multi .chosen-choices {
	border-color: #ccc;
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #eee), color-stop(15%, #fff));
	background-image: linear-gradient(#eee 1%, #fff 15%);
}
.chosen-container .chosen-results li.highlighted {
	background-image: none;
	background-image: none;
	background-color: #e3e3e3;
	color: #535353;
}
.chosen-container-multi .chosen-choices li.search-choice {
    border-color: #dddddd;
    background-color: #dddddd;
    color: #535353;
}

/***************************************
Back To Top
***************************************/
a.back-to-top {
    color: #000000 !important;
    background-color: #ffffff;
    text-align: center;
    border-color: #ffffff;
}
a.back-to-top:hover, a.back-to-top:active, a.back-to-top:visited {
	color: #ffffff !important;
	background-color:#000000 !important;
	border-color:#525252;
}

/*******************************************
Skin Changer Toggle
*******************************************/
.skinChangerTog{
	border-color: #535353;
	background-color: #525252;
	color: #FFFFFF;
}