<?xml version="1.0"?>
	<skin version="1.05">
		<info>
			<uid>nitefoxskin003</uid>
			<type>skin</type>
			<category>skin</category>
			<name><![CDATA[amzin]]></name>
			<original_name><![CDATA[amzin]]></original_name>
			<display><![CDATA[Amzin]]></display>
			<description><![CDATA[Amzin — 4 styles, fully responsive, Bootstrap-powered. Looks great on every device.]]></description>
			<version>2.06</version>
			<minVersion>6.0.0</minVersion>
			<maxVersion>6.*.*</maxVersion>
			<creator>CubeCart</creator>
			<homepage>http://www.cubecart.com</homepage>
			<layout_type>responsive</layout_type>
			<framework>bootstrap</framework>
			<csrf>true</csrf>
			<newsletter_recaptcha>true</newsletter_recaptcha>
			<gravatar_ajax>false</gravatar_ajax>
		</info>
		<layout>
			<products>
				<perpage amount="6" />
				<perpage default="true" amount="12" />
				<perpage amount="24" />
				<perpage amount="48" />
				<perpage amount="96" />
			</products>
		</layout>
		<styles>
			<style images="false" default="true">
			<!-- images: TRUE tells the template system that this style has its own image folder. FALSE would use the contents in the root of the images folder. For example with this as false images/image.jpg vs images/default/image.jpg if set to true -->
				<directory>default</directory>
				<name><![CDATA[Default]]></name>
				<description><![CDATA[Default Style - Blue and Orange]]></description>
				<default />
			</style>
			<style images="false" default="false">
				<directory>style02</directory>
				<name><![CDATA[Style 2 - Blue and Yellow]]></name>
				<description><![CDATA[Style 2 - Blue and Yellow]]></description>
				<default />
			</style>
			<style images="false" default="false">
				<directory>style03</directory>
				<name><![CDATA[Style 3 - Green and Grey]]></name>
				<description><![CDATA[Style 3 - Green and Grey]]></description>
				<default />
			</style>	
			<style images="false" default="false">
				<directory>style04</directory>
				<name><![CDATA[Style 4 - Black and White]]></name>
				<description><![CDATA[Style 4 - Black and White]]></description>
				<default />
			</style>	
		</styles>
		
		<images>
			<image reference="thumbnail" maximum="190" quality="80" default="noimage.png" />
			<image reference="category" maximum="800" quality="80" default="" /><!-- Doesnt need a default -->
			<image reference="subcategory" maximum="105" quality="80" default="noimage.png" />
			<image reference="gallery" maximum="50" quality="80" default="noimage.png" />
			<image reference="checkout" maximum="50" quality="80" default="noimage.png" />
			<image reference="normal" maximum="300" quality="80" default="noimage.png" />
			<image reference="enlarge" maximum="600" quality="80" default="" /><!-- Doesnt need a default -->
			<image reference="tiny" maximum="30" quality="80" default="noimage.png" />
			<image reference="small" maximum="300" quality="90" default="noimage.png" />
			<image reference="medium" maximum="600" quality="90" default="noimage.png" />
			<image reference="large" maximum="900" quality="90" default="noimage.png" /><!-- Doesnt need a default -->
		</images>
		<!-- Use this to add custom variables into the skin which can be found in the smarty SKIN_CUSTOM array -->
		<custom>
			<recaptcha_badge_position>bottomright</recaptcha_badge_position><!-- Invisible Recaptcha Badge Position: bottomright, bottomleft or inline -->
		</custom>
	</skin>